.header {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    list-style: none;
    text-align: center;
    align-items: center;
}
.header_list {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 31px;
    text-transform: uppercase;
    color: darkblue;
}
.main_tittle{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    display: block;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.main_content{
    width: 1145px;
    margin: 0 auto;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    justify-content: center;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 66px;

}
.content_image{
    display: flex;
    margin: 0 auto;
    width: 1280px;
}
.button{
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    border-radius: 4px;
    margin: auto;
    background: darkblue;
    display: flex;

}
.button-text{
    margin: auto;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer{
    width: 1145px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding-top: 100px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: right;
}
